#title .nav{
    background-color: #ff5877;
}
  

#title .navbar-brand{
    font-family:'Architects Daughter';
    font-size: 3rem;
}

#title ul{
    font-family:'Architects Daughter';
}

#title .heading{ 
    width: 30rem;
    margin-bottom: 15rem;
}

#title .coverimg{
    width: 22rem;
    transform: rotate(15deg) translateY(4rem) scale(1.2);
}

#title .gp{
    background-color: #ff5877;
    border: 1px solid white;
    color: white;
}

#features .container{
    margin-top: 12rem;
    margin-bottom: 12rem;
}

#features h3{
    font-family: 'Architects Daughter';
}

#features .card{
    min-width: 25rem;
}

#features .desc{
    margin-bottom: 0;
}

#features i{
    color:#ff5877;
}

#title .p-5 .fa-3x{
    color: #fb437b;
}

#title .overflow-hidden{background-color: #ff5877;
    height: 30rem;
}

#title .overflow-hidden h1{
    font-family: 'Acme', sans-serif;
    font-size:3rem;
    margin-bottom: 1.25rem;
}

#testimonials .carousel{
    background-color: #ff5877; height: 27rem; padding-top: 5rem;
}

#testimonials h2{
    margin-left: 14rem;
    margin-right: 14rem;
    font-size: 3rem;
    font-family:'Architects Daughter';
}

#testimonials span{
    font-family:'Secular One', sans-serif;
    font-style: italic;
}

#testimonials img{
    border-radius: 50%;
    width: 7rem; 
}

#press{
    background-color: #ff5877;
    padding-bottom: 8rem;
}

#press .container{
    max-width: 800px; 
}

#press img{
    width: 11rem;
}


#pricing .container{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

#pricing h2{
    font-family:'Secular One', sans-serif;
}

#pricing h3{
    font-family:'Secular One', sans-serif;
    margin-bottom: 3rem;
}

#pricing h1{
    font-family:'Secular One', sans-serif;
}

#pricing .btn{
    border:1px solid #91918F;
}

#contact{
    background-color: #ff5877;
    height: 25rem;
}

#contact .container{
    padding-top: 35px
}

#contact h3{
    font-size: 3rem;
    margin-bottom: 40px;
    font-family: 'Architects Daughter';
}

#contact .btn{
    margin: 10px;
}

#footer{
    height: 18rem;
}

#footer a{
    display: inline-block;
    margin: 0 10px 0 0;
    color: black;
 }

#footer .container{
    padding-top: 100px;
}
 #footer p{
    margin-top: 5px;
}

@media (min-width: 979px) and (max-width: 1150px){
    #testimonials h2{
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) and (max-width: 979px){
    #title .coverimg{
        transform: initial;
        width: 20rem;}
  
    .heading{
      margin-bottom: 2rem;
    }
  
    #title .overflow-hidden{
      height: 62rem;
    }
    #testimonials h2{
        font-size: 2rem;
    }

    #press img{
        transform: scale(0.8);
    }

    #testimonials img{
        border-radius: 50%;
        width: 5rem; 
    }
}

@media (min-width: 450px) and (max-width: 768px){
    #testimonials h2{
        font-size: 1.25rem;
        margin-left: 10rem;
        margin-right: 10rem;
    }
    #testimonials span{
        font-size: 0.75rem;
    }
    #press img{
        transform: scale(0.7);
    }

}

@media (min-width: 100px) and (max-width: 450px){
    #testimonials h2{
        font-size: 1.25rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    #testimonials span{
        font-size: 1rem;
    }
}